<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp11.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp11.Properties.Settings.SMSConnectionString"
            connectionString="Data Source=DESKTOP-T4CJKPT\SA;Initial Catalog=SMS;User ID=SA;Password=sapass"
            providerName="System.Data.SqlClient" />
        <add name="SMSConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-T4CJKPT\SA;user id=;password=;initial catalog=SMS;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <WindowsFormsApp11.Properties.Settings>
            <setting name="kadi" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Saglayici" serializeAs="String">
                <value />
            </setting>
            <setting name="Kullanici" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp11.Properties.Settings>
    </userSettings>
</configuration>
